{% extends 'base.html' %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block body %}
<h2 style="text-align: center; margin-top: 15px;">Register Here</h2>
<div class="container-md mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if messages %}
                <div class="container mt-4">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                        role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in UFO %}
                <div class="form-group row mb-3">
                    {{ field }}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                </div>
                {% endfor %}

                {% for field in PFO %}
                <div class="form-group row mb-3">
                    {{ field }}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                </div>
                {% endfor %}


                <div class="form-group row">
                    <input type="submit" value="Register" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}